apiVersion: v1
kind: Service
metadata:
  name: {{.Release.Name }}-clusterip
spec:
  type: ClusterIP
  selector:
    app: gitea
  ports:
    - name: http
      port: 3000
    - name: ssh
      port: 60000